.advice-content {
  background-image: url('/img/advice/29985722-f215-4dd9-ba4d-47e778e61718_large.webp');
  background-size: cover;
  background-position: center;
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.advice-content-text-main {
  font-size: 96px;
  margin-bottom: 20px;
}

.advice-content-buttons {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.advice-content-button {
  padding: 15px 30px;
  font-size: 16px;
}

.button-secondary {
  background-color: transparent;
  border: 1px #e00 solid;
}

.button-secondary:hover {
  background-color: #e00;
}