.features {
  margin: 60px 180px;
}

.features-container {
  display: flex;
  justify-content: space-around;
}

.feature-item {
  padding: 40px 30px;
  background-color: #222;
  color: #fff;
  width: 360px;
  height: 300px;
  margin: 0 10px;
}

.feature-icon img {
  width: 80px;
}

.feature-title {
  font-size: 30px;
  margin-bottom: 10px;
  border-bottom: 2px solid #e00;
  padding-bottom: 5px;
}

.feature-description {
  font-size: 20px;
  color: #666;
}

@media (min-width: 768px) {
  .features {
    margin: 40px 60px;
  }

  .features-container {
    justify-content: space-around;
  }

  .feature-item {
    width: calc(50% - 60px);
    max-width: 500px;
    margin: 30px;
  }

  .feature-title {
    font-size: 28px;
  }

  .feature-description {
    font-size: 18px;
  }

  .feature-icon img {
    width: 70px;
  }
}

@media (min-width: 1024px) {
  .features {
    margin: 60px 100px;
  }

  .features-container {
    justify-content: space-around;
  }

  .feature-item {
    width: 320px;
    max-width: none;
    margin: 40px 20px;
    height: 280px;
    padding: 30px 20px;
  }

  .feature-title {
    font-size: 30px;
  }
}