footer {
  color: rgba(169, 169, 169, 0.829);
  padding-top: 80px;
  padding-bottom: 40px;
  text-align: left;
  margin: 0 180px;
}

.footer-top {
  display: flex;
  justify-content: space-between;
  flex-wrap: inherit;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
  margin-bottom: 40px;
}

.footer-column {
  flex: 1 1 250px;
  margin-bottom: 30px;
}

.footer-column-text {
  font-size: 1.5em;
  margin-bottom: 20px;
  color: #fff;
}

.footer-column-subtext {
  font-size: 1em;
  line-height: 1.6;
  margin-bottom: 15px;
  color: #ccc;
}

.footer-column ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.footer-column ul li {
  margin-bottom: 10px;
}

.footer-column ul li a {
  color: #ccc;
  text-decoration: none;
  font-size: 1em;
  transition: color 0.3s ease;
}

.footer-column ul li a:hover {
  color: #fff;
}

.subscribe-form {
  margin-top: 20px;
}

.subscribe-form input[type="email"] {
  width: calc(100% - 22px);
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #333;
  border-radius: 5px;
  background-color: #222;
  color: #fff;
  font-size: 1em;
  text-align: center;
}

.subscribe-form button {
  width: -webkit-fill-available;
  background-color: #e00;
  color: #fff;
  padding: 12px 20px;
  border: none;
  border-radius: 5px;
  font-size: 1em;
  transition: background-color 0.3s ease;
}

.subscribe-form button:hover {
  background-color: #c00;
}

.footer-bottom {
  padding: 20px;
  font-size: 0.9em;
  display: flex;
  justify-content: space-between;
}

.footer-bottom p {
  margin-bottom: 5px;
}