/* .background {
    background-image: url('./../img/background/csm_Golf_VIII_R_Press-4_3b05c5968b.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 150vh;
    display: flex;
    flex-direction: column;
}

.header {
    height: 36px;
    padding: 10px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 180px;
}

.header-logo-image {
    width: 168px;
}

.header-nav-list {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-nav-list-item {
    position: relative;
    background-color: transparent;
    color: #fff;
    padding: 10px 25px;
    border: none;
    font-size: 15px;
    overflow: hidden;
}

.header-nav-list-item::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 2px;
    background-color: #fff;
    transition: width 0.5s ease;
}

.header-nav-list-item:hover::after {
    width: 100%;
}

.header-nav-list-social {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-nav-list-social-item {
    display: inline-block;
    width: 30px;
    height: 30px;
    margin-left: 10px;
    background-color: transparent;
    border: 2px solid #e00;
    background-position: center;
}

.header-nav-list-social-item :hover {
    filter: hue-rotate(180deg) saturate(5);
}




   */

   /* Основні стилі (для великих екранів) */
.background {
    background-image: url('./../img/background/csm_Golf_VIII_R_Press-4_3b05c5968b.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 150vh; /* Збільшено висоту для перекриття на початку */
    display: flex;
    flex-direction: column;
  }
  
  .header {
    height: 36px;
    padding: 10px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 180px;
  }
  
  .header-logo-image {
    width: 168px;
  }
  
  .header-nav-list {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .header-nav-list-item {
    position: relative;
    background-color: transparent;
    color: #fff;
    padding: 10px 25px;
    border: none;
    font-size: 15px;
    overflow: hidden;
  }
  
  .header-nav-list-item::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 2px;
    background-color: #fff;
    transition: width 0.5s ease;
  }
  
  .header-nav-list-item:hover::after {
    width: 100%;
  }
  
  .header-nav-list-social {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .header-nav-list-social-item {
    display: inline-block;
    width: 30px;
    height: 30px;
    margin-left: 10px;
    background-color: transparent;
    border: 2px solid #e00;
    background-position: center;
    background-size: contain; 
    background-repeat: no-repeat;
  }
  
  .header-nav-list-social-item :hover {
    filter: hue-rotate(180deg) saturate(5);
  }
  
  @media (min-width: 768px) {
    .header-logo-image {
      width: 150px;
    }
  
    .header-nav-list-item {
      font-size: 16px;
      padding: 10px 20px;
    }
  
    .header-nav-list-social-item {
      width: 30px;
      height: 30px;
      margin-left: 10px;
    }
  }
  
  @media (min-width: 1024px) {
    .header {
      margin: 0 60px;
    }
  
    .header-logo-image {
      width: 168px;
    }
  
    .header-nav-list-item {
      font-size: 15px;
      padding: 10px 25px;
    }
  
    .header-nav-list-social-item {
      width: 30px;
      height: 30px;
      margin-left: 10px;
    }
  }
  
  @media (min-width: 1440px) {
    .header {
      margin: 0 180px;
    }
  }