.header {
    height: 36px;
    padding: 10px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 180px;
}

.header-logo-image {
    width: 168px;
}

.header-nav-list {
    color: rgba(169, 169, 169, 0.829);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-nav-list-item {
    margin: 0 12.5px;
}

.header-nav-list-social {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-nav-list-social-item>img {
    fill: red;
    border: 1rem red;
}