.hero {
    padding: 200px 0;
}

/* .background-image {
    height: auto;
    background-image:linear-gradient(rgba(0, 0, 255, 0.5), rgba(255, 255, 0, 0.5)),
    url("../img/background.jpg");
    background-position: center;
  background-size: cover;
} */