.hy {
    background-image: url('./../img/brands/hyundai-i30.png');
    background-size: cover;
    background-position: center;
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

@media (max-width: 767px) {
    .hy {
        height: 40vh;
    }
}

@media (min-width: 768px) and (max-width: 1023px) {
    .hy {
        height: 60vh;
    }
}

@media (min-width: 1024px) and (max-width: 1439px) {
    .hy {
        height: 70vh;
    }
}

@media (min-width: 1440px) {
    .hy {
        height: 80vh;
    }
}