.loan {
  margin: 60px 0;
}

.loan-list-item {
  margin-bottom: 10px;
  display: flex;
  background-color: #f0f0f0; 
}
  
  .image-container img {
    max-width: 610px;
    height: auto;
  }
  
  .text-container {
    flex: 1; 
  }

  .text-container h2 {
    font-size: 40px;
    margin-bottom: 15px;
    color: #e00; 
  }
  
  .text-container button {
    background-color: #e00; 
    color: white;
    padding: 10px 20px;
    border: none;
  }
  
  .category {
    font-size: 15px;
    color: #888;
    margin-bottom: 20px;
  }
 
 