.offers-section {
    color: rgba(169, 169, 169, 0.829); 
    padding: 80px 0;
    text-align: left;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
  }
  
  .offers-content {
    margin-bottom: 50px;
    max-width: 400px;
    text-align: left;
    padding: 20px;
  }
  
  .offers-title {
    font-size: 1.5em;
    color: #ccc;
    margin-bottom: 10px;
  }
  
  .offers-heading {
    font-size: 4em;
    line-height: 1;
    margin-bottom: 20px;
  }
  
  .offers-description {
    font-size: 1.3em;
    color: #888;
  }
  
  .offers-grid {
    display: flex;
    justify-content: center;
    gap: 30px;
    max-width: 1200px;
    margin: 0 auto;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .offer-card {
    background: rgba(26, 26, 26, 0.77);
    padding: 10px;
    border-radius: 5px;
    width: 350px;
  }
  
  .offer-card img {
    max-width: 100%;
    height: auto;
    margin-bottom: 20px;
  }
  
  .car-model {
    font-size: 1.3em;
    margin-bottom: 15px;
    line-height: 1.2;
  }
  
  .price {
    font-size: 1.1em;
    color: #e00; 
    margin-bottom: 10px;
  }
  
  .view-details {
    display: block;
    color: #e00; 
    text-decoration: none;
    margin-bottom: 15px;
  }
  
  .request-button { 
    border-radius: 5px;
    cursor: pointer;
    background-color: transparent;
    color: white;
    padding: 10px 25px;
    border: none;
    margin-top: 20px;
    font-size: 20px;
  }
  
  @media (max-width: 992px) {
    .offers-grid {
      flex-direction: column;
      align-items: center;
    }
  
    .offer-card {
      width: 80%;
      max-width: 400px;
    }
  }